    <!-- header introduction start -->
    <header class="bgimg-1 intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">web developer | troubleshooter</h1>
                        <p class="intro-text">Enjoying what life has blessed me with and sharing it through web development and voice interaction with digital assistants.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header> 
    <!-- header introduction end -->
    <!-- abount introduction begin -->
    <div class="about-intro content-section">
    <h3 style="text-align:center;">What do I like to do?</h3>
    <p>Spend Time with Family / Development Webpages / Troubleshoot Issues / Solve Problems / Design Alexa Skills / Improve User Interactions with Technology / Run / Collaborate with Colleagues / Poka-yoke / Test New Technology / ... </p>
    <p><strong>Poka-yoke (ポカヨケ, [poka joke])></strong> <em>is a Japanese term that means "mistake-proofing" or "inadvertent error prevention". A poka-yoke is any mechanism in any process that helps an equipment operator avoid (yokeru) mistakes (poka). Its purpose is to eliminate product defects by preventing, correcting, or drawing attention to human errors as they occur.</em
    </p>
    </div>
    <!-- about introduction end-->
    <!-- about section begin-->
    <section id="about" class="bgimg-2 content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <h3></h3>
                <p>Every since I was a young boy, I've always loved technology. As a boy my parents would let me handle the lighting on the Christmas Tree. Every year was different because I wanted to improve upon the previous year's experience. This was nothing too high tech, but my parents let me play around. They have always encoured my love of technology.</p>
                <p>I've been in IT Support for over 20 years and what I've learned how to troubleshoot effeciently and that you can never have all of the answers; a routine call is far from routine. Hundreds of factors can cause technology to fail, that is why after successfully troubleshooting the problem, I try to remove as many of the problems for the user. </p>
                <p>I approach every project with the end user's experience in mind. If they are unable to find an answer or are unable to navigate the site successfully then I've failed and I will start to re-working the documentation or the page to make it easier for the user to find the answers they seek. Just like the lights, I'm never satisified with my work, I'm alway looking for ways to improve upon my work.</p>
                <p>I never take myself too seriously and I believe you learn the most by making mistakes. When working with my team, I'll ask if they made any mistakes today and if they reply with no, I say let's keep working until we make some.</p>
                <p>This portfolio is representation of the web and programming projects I have created for myself, my work and my class assignments. They are all made with my passion for learning and improving the overall experience.</p>
                <a href="#project" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
                </span>
            </div>
        </div>
    </section>
    <!-- about section end -->
    <!-- project section start -->
    <section id="project" class="container content-section text-center">
        <h2> Projects </h2>
        <h3></h3>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <%= image_tag('tng_1.jpg', :class => "img-fluid mb-3 mb-lg-0 project-image") %>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>The New Girl Quote (TNGQ) Generator</h4>
                    <p class="text-black-50 mb-0">The New Girl Quote (TNGQ) generates quotes from the television progrm The New Girl. TNGQ is a full-stack web application that allows fans to sign up to add their favorite quote.  Visitors can also switch to a Premium account to make their quotes private and make comments on other's quotes.</p>
                    <a href="#about" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Baldwin Wallace HelpDesk - Alexa Skill</h4>
                    <p class="text-black-50 mb-0">The Baldwin Wallace Alexa Skill is designed for students, faculty and staff of Baldwin Wallace University to use their voice to find answers to frequently asked questions.</p>
                    <a href="#about" class="btn btn-default">Learn More</a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <%= image_tag('alexa_1.jpg', :class => "img-fluid mb-3 mb-lg-0 project-image") %>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <%= image_tag('helpBWedu.png', :class => "img-fluid mb-3 mb-lg-0 project-image") %>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Baldwin Wallace HelpDesk - help.bw.edu</h4>
                    <p class="text-black-50 mb-0">The Baldwin Wallace HelpDesk Web Page is designed for students, faculty and staff of Baldwin Wallace University to find answer to their technology questions.  They can also, create a support ticket, chat with an analyst or stay informed about the latest phishing threats or network outages. </p>
                    <a href="http://help.bw.edu" class="btn btn-default">Learn More</a>
                </div>
            </div>
        </div>
        <br><br>
        <a href="#blog" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </section>
    <!-- project section end -->
    <!-- blog section start -->
    <section id="blog" class="bgimg-3 content-section text-center">
        <div class="blog-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Blog</h2>
                    <h3><a href="https://medium.com/@coyne99/my-first-alexa-skill-irish-dancing-trivia-dfa0a3bbbfc9">Creating my first Alexa Skill</a></h3>
                    <p>Ever since I met Siri, I fell in love with the concept of voice recognition. I was intrigued with the idea that the thoughts in my head can…</p>
                    <hr>
                    <h3><a href="https://medium.com/@coyne99/my-second-alexa-skill-baldwin-wallace-facts-f9bda9a1a039">Creating my second Alexa Skill</a></h3>
                    <p>Writing my second Alexa skill was much easier to create than the first one. The instructions were basically the same. The only difference…</p>
                    <hr>
                    <h4><a href="https://medium.com/@coyne99/creating-a-calendar-skill-in-alexa-feaf4b0bd2b0">Creating a calendar skill for Alexa</a></h3>
                    <p>Creating a voice skill for Alexa has been an enjoyably frustrating experience. The concepts seem easy to grasp, however, when attempting…</p>
                    <hr>
                    <h4><a href="https://medium.com/@coyne99/my-first-web-development-project-for-bloc-f7e3edfaa591">My first web development project for Bloc</a></h3>
                    <p>BlocJams was my introduction to web design and programming. This was my first time programming with Javascript and jQuery. I was not…</p>
                    <hr>
                    <h4><a href="https://medium.com/@coyne99/my-experience-learning-to-code-from-bloc-a44f08520166">My experience learning to code from Bloc</a></h3>
                    <p>This is my first blog post. I always thought writing a blog post would be similar to writing in a journal or diary...</p>
                    <br>
                    <a href="#contact" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- blog section end -->
    <!-- contact section begin -->
    <section id="contact" class="content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Feel free to reach out and connect with me!</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:coyne99@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/scoyne" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/scoyne" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://medium.com/@coyne99" class="btn btn-default btn-lg"><i class="fa fa-medium fa-fw"></i> <span class="network-name">Medium</span></a>
                    </li>
                    <li>
                        <a href="https://drive.google.com/file/d/1NfuH79mXGk3zWDf0F1TnP49hfLis7xpo/view?usp=sharing" class="btn btn-default btn-lg"><i class="fa fa-drivers-license fa-fw"></i> <span class="network-name">Resume</span></a>
                    </li>
                </ul>
                <br>
                <a href="#page-top" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
                <br>
            </div>
        </div>
    </section>
    <!-- contact section end -->
    <!-- thank you section begin -->
    <section class="content-section text-center">
        <div class="bgimg-1">
            <h2 class="thank-you">Thank you for visiting!</h2>
        </div>
    </section>
    <!-- thank you section end -->
    <!-- footer begin -->
    <footer>
        <div class="container text-center">
            <hr>
            <p></p>
        </div>
    </footer>
    <!-- footer end -->
